.triangle {
   height: 0;
   width: 0;
   border-right: 10px solid var(--triangle-color);
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   /* border-right: 10px solid transparent; */
}
